@font-face {
  font-family: NationalMedium;
  src: url("fonts/National2Web-Medium.woff");
}

@font-face {
  font-family: NationalRegular;
  src: url("fonts/National2Web-Regular.woff");
}

.registrationForm {
  font-size: 16px;
  font-family: NationalRegular;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  height: 100%;
  min-height: 100vh;
  max-width: 800px;
  margin: auto;
  height: 100%;
  overflow: hidden;
}

.registrationForm .--title {
  font-family: NationalMedium;
  font-size: 3rem;
  text-align: left;
  font-weight: 700;
  width: 100%;
  margin-bottom: 2rem;
}

.registrationForm .--introduction {
  font-size: 1.1rem;
  text-align: left;
  margin-bottom: 3rem;
}

.registrationForm .--firstCheckboxContainer {
  margin: 10px 0;
}

.registrationForm .--firstCheckboxContainer span {
  font-weight: 600;
  display: block;
  text-align: left;
  font-size: 0.8rem;
}

.registrationForm .--inputContainer {
  width: 100%;
  margin-bottom: 1.5rem;
}

.registrationForm .--inputContainer input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  padding-right: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.registrationForm .--inputContainer .badPassword {
  border: 1px solid red;
}

.registrationForm .--inputContainer .badPassword:not([value=""]):not(:focus):invalid {
  border: 1px solid #767676;
}

.registrationForm .--inputContainer .goodPassword {
  border: 1px solid green;
}

.registrationForm .--inputContainer .goodPassword:not([value=""]):not(:focus):invalid {
  border: 1px solid #767676;
}

.registrationForm .__passwordInstructions {
  width: 100%;
  text-align: left;
  display: block;
  color: #8d8c8c;
  font-size: 0.9rem;
}

.registrationForm .--SecondCheckboxContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.registrationForm .--SecondCheckboxContainer label {
  margin-top: 10px;
}

.registrationForm .--submitButton {
  background: #d2e143;
  margin-top: 15px;
  border: none;
  padding: 15px 30px;
  font-size: 1.2rem;
  -webkit-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

.registrationForm .--submitButton:hover {
  background: #00830f;
  background-color: linear-gradient(85deg, #359a74 0%, #00830f 100%);
  color: #fff;
}

.registrationForm .--eyeDiv {
  position: relative;
}

.registrationForm .--eyeDiv img {
  position: absolute;
  top: 25%;
  right: 10px;
  height: 50%;
}
/*# sourceMappingURL=RegistrationForm.css.map */